[submodule "tools/reduce_sequences"]
	path = tools/reduce_sequences
	url = git@github.com:lucblassel/reduce_sequences.git
[submodule "tools/Winnowmap"]
	path = tools/Winnowmap
	url = git@github.com:marbl/Winnowmap.git
[submodule "tools/NanoSim"]
	path = tools/NanoSim
	url = git@github.com:bcgsc/NanoSim.git
[submodule "tools/pbsim2"]
	path = tools/pbsim2
	url = git@github.com:yukiteruono/pbsim2.git
[submodule "tools/minimap2"]
	path = tools/minimap2
	url = git@github.com:lh3/minimap2.git
[submodule "tools/rename_sequences"]
	path = tools/rename_sequences
	url = git@github.com:lucblassel/rename_sequences.git
[submodule "tools/TandemTools"]
	path = tools/TandemTools
	url = git@github.com:lucblassel/TandemTools.git
[submodule "tools/fastatools"]
	path = tools/fastatools
	url = git@github.com:lucblassel/fastatools.git
[submodule "tools/bedtools2"]
	path = tools/bedtools2
	url = git@github.com:arq5x/bedtools2.git
