data/

# Ignore buildable executables
bin/bedtools
bin/minimap2
bin/reduce_sequences
bin/nanosim.py
bin/rename_sequences
bin/samtools
bin/meryl
bin/pbsim
bin/winnowmap
bin/bigBedToBed

# Nextflow stuff
.nextflow*
.nextflow/
work/