[submodule "tools/reduce_sequences"]
	path = tools/reduce_sequences
	url = git@github.com:lucblassel/reduce_sequences.git
[submodule "tools/rename_sequence"]
	path = tools/rename_sequence
	url = git@github.com:lucblassel/rename_sequence.git
[submodule "tools/Winnowmap"]
	path = tools/Winnowmap
	url = git@github.com:marbl/Winnowmap.git
[submodule "tools/NanoSim"]
	path = tools/NanoSim
	url = git@github.com:bcgsc/NanoSim.git
