# input and output directories
data/
results/

# Ignore buildable executables
bin/bedtools
bin/minimap2
bin/reduce_sequences
bin/nanosim.py
bin/rename_sequences
bin/samtools
bin/meryl
bin/pbsim
bin/winnowmap
bin/bigBedToBed
bin/fastatools

# Ignore extracted files during init.sh execution
tools/minimap2-2.22_x64*/
tools/samtools-1.12*/

# Rmarkdown build stuff
figures.html
figures_cache
.Rhistory

# Nextflow stuff
.nextflow*
.nextflow/
work/
nextflow.config

# VScode
.vscode/
