data/

# Ignore buildable executables
bin/bedtools
bin/minimap2
bin/reduce_sequences
bin/nanosim.py
bin/rename_sequences
bin/samtools
bin/meryl
bin/pbsim
bin/winnowmap
bin/bigBedToBed

# Rmarkdown build stuff
figures.html
figures_cache
figures_files

# Nextflow stuff
.nextflow*
.nextflow/
work/